Repository bcProFoundation/building-blocks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

Path conditions:
  test_authorization_server: any of: apps/authorization-server/**/*
  test_authorization_client: any of: frontends/authorization-client/**/*
  test_communication_server: any of: apps/communication-server/**/*
  test_identity_provider: any of: apps/identity-provider/**/*
  test_identity_client: any of: frontends/identity-client/**/*
  test_infrastructure_console: any of: apps/infrastructure-console/**/*
  test_admin_client: any of: frontends/admin-client/**/*

update: root and packages
  apps/authorization-server/package.json
  apps/authorization-server/src/auth/aggregates/otp-aggregate/otp-aggregate.service.ts
  apps/authorization-server/src/auth/controllers/auth/auth.service.ts
  apps/authorization-server/src/auth/events/bearer-token-added/bearer-token-added.handler.spec.ts
  apps/authorization-server/src/user-management/aggregates/user-aggregate/user-aggregate.service.ts
  apps/authorization-server/tests/auth.e2e-spec.ts
  apps/authorization-server/yarn.lock
  apps/communication-server/package.json
  apps/communication-server/yarn.lock
  apps/identity-provider/package.json
  apps/identity-provider/yarn.lock
  apps/infrastructure-console/package.json
  apps/infrastructure-console/src/organization-settings/controllers/brand/brand.controller.spec.ts
  apps/infrastructure-console/src/service-management/controllers/service-type/service-type.controller.spec.ts
  apps/infrastructure-console/src/service-management/controllers/service/service.controller.spec.ts
  apps/infrastructure-console/src/system-settings/controllers/settings/settings.controller.spec.ts
  apps/infrastructure-console/yarn.lock
  frontends/admin-client/angular.json
  frontends/admin-client/package.json
  frontends/admin-client/yarn.lock
  frontends/authorization-client/package.json
  frontends/authorization-client/yarn.lock
  frontends/identity-client/angular.json
  frontends/identity-client/package.json
  frontends/identity-client/yarn.lock
  package.json
  yarn.lock
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

v6.8.1
  apps/authorization-server/package.json
  apps/communication-server/package.json
  apps/identity-provider/package.json
  apps/infrastructure-console/package.json
  frontends/admin-client/package.json
  frontends/authorization-client/package.json
  frontends/identity-client/package.json
  lerna.json
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

Publish Helm Chart 2.8.1
  kubernetes/helm-chart/Chart.yaml
  kubernetes/helm-chart/values.yaml
Due: none

update: root and packages
  apps/authorization-server/package.json
  apps/authorization-server/src/auth/aggregates/otp-aggregate/otp-aggregate.service.ts
  apps/authorization-server/src/auth/aggregates/webauthn-aggregate/webauthn-aggregate.service.ts
  apps/authorization-server/src/auth/controllers/auth/auth.controller.ts
  apps/authorization-server/src/auth/controllers/auth/auth.service.ts
  apps/authorization-server/src/auth/guards/local-user.guard.ts
  apps/authorization-server/src/auth/guards/oauth2-client.guard.ts
  apps/authorization-server/src/auth/middlewares/choose-account.middleware.ts
  apps/authorization-server/src/auth/passport/base/oauth2-client.strategy.ts
  apps/authorization-server/src/user-management/aggregates/email-request/email-request.service.ts
  apps/authorization-server/src/user-management/aggregates/signup/signup.service.ts
  apps/authorization-server/src/user-management/aggregates/user-management/user-management.service.ts
  apps/authorization-server/src/user-management/commands/generate-forgotten-password/generate-forgotten-password.command.ts
  apps/authorization-server/src/user-management/commands/generate-forgotten-password/generate-forgotten-password.handler.ts
  apps/authorization-server/src/user-management/controllers/user/user.controller.ts
  apps/authorization-server/src/user-management/policies/signup-via-email/signup-via-email.dto.ts
  apps/authorization-server/yarn.lock
  apps/communication-server/package.json
  apps/communication-server/yarn.lock
  apps/identity-provider/package.json
  apps/identity-provider/yarn.lock
  apps/infrastructure-console/package.json
  apps/infrastructure-console/yarn.lock
  frontends/admin-client/package.json
  frontends/admin-client/yarn.lock
  frontends/authorization-client/package.json
  frontends/authorization-client/src/app/auth/auth.service.ts
  frontends/authorization-client/src/app/constants/messages.ts
  frontends/authorization-client/src/app/signup/signup.component.html
  frontends/authorization-client/src/app/signup/signup.component.ts
  frontends/authorization-client/src/app/verify-email/verify-email.component.ts
  frontends/authorization-client/src/app/verify-generate-password/verify-generate-password.component.html
  frontends/authorization-client/src/app/verify-generate-password/verify-generate-password.component.ts
  frontends/authorization-client/yarn.lock
  frontends/identity-client/package.json
  frontends/identity-client/yarn.lock
  package.json
  yarn.lock
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

v6.8.2
  apps/authorization-server/package.json
  apps/communication-server/package.json
  apps/identity-provider/package.json
  apps/infrastructure-console/package.json
  frontends/admin-client/package.json
  frontends/authorization-client/package.json
  frontends/identity-client/package.json
  lerna.json
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

Publish Helm Chart 2.8.2
  kubernetes/helm-chart/Chart.yaml
  kubernetes/helm-chart/values.yaml
Due: none

update: root and packages
  apps/authorization-server/package.json
  apps/authorization-server/src/auth/aggregates/webauthn-aggregate/webauthn-aggregate.service.spec.ts
  apps/authorization-server/src/auth/aggregates/webauthn-aggregate/webauthn-aggregate.service.ts
  apps/authorization-server/src/auth/controllers/auth/auth.service.ts
  apps/authorization-server/src/auth/guards/oauth2-client.guard.ts
  apps/authorization-server/src/auth/passport/base/oauth2-client.strategy.ts
  apps/authorization-server/src/user-management/aggregates/user-aggregate/user-aggregate.service.ts
  apps/authorization-server/tests/auth.e2e-spec.ts
  apps/authorization-server/yarn.lock
  apps/communication-server/package.json
  apps/communication-server/yarn.lock
  apps/identity-provider/package.json
  apps/identity-provider/yarn.lock
  apps/infrastructure-console/package.json
  apps/infrastructure-console/yarn.lock
  frontends/admin-client/package.json
  frontends/admin-client/yarn.lock
  frontends/authorization-client/package.json
  frontends/authorization-client/yarn.lock
  frontends/identity-client/package.json
  frontends/identity-client/yarn.lock
  package.json
  yarn.lock
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

v6.8.3
  apps/authorization-server/package.json
  apps/communication-server/package.json
  apps/identity-provider/package.json
  apps/infrastructure-console/package.json
  frontends/admin-client/package.json
  frontends/authorization-client/package.json
  frontends/identity-client/package.json
  lerna.json
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

Publish Helm Chart 2.8.3
  kubernetes/helm-chart/Chart.yaml
  kubernetes/helm-chart/values.yaml
Due: none

Add register no verified
  apps/authorization-server/src/main.ts
  apps/authorization-server/src/user-management/aggregates/signup/signup.service.ts
  apps/authorization-server/src/user-management/commands/index.ts
  apps/authorization-server/src/user-management/commands/signup-via-email-no-verified/signup-via-email-no-verified.command.ts
  apps/authorization-server/src/user-management/commands/signup-via-email-no-verified/signup-via-email-no-verified.handler.ts
  apps/authorization-server/src/user-management/controllers/signup/signup.controller.ts
  apps/authorization-server/src/user-management/events/index.ts
  apps/authorization-server/src/user-management/events/user-signed-up-via-email-no-verified/user-signed-up-via-email-no-verified.event.ts
  apps/authorization-server/src/user-management/events/user-signed-up-via-email-no-verified/user-signed-up-via-email-no-verified.handler.ts
  apps/authorization-server/src/user-management/policies/index.ts
  apps/authorization-server/src/user-management/policies/signup-via-email-no-verified/signup-via-email-no-verified.dto.ts
  frontends/admin-client/angular.json
  frontends/admin-client/yarn.lock
  frontends/authorization-client/angular.json
  frontends/identity-client/angular.json
Due: test_authorization_server, test_authorization_client, test_identity_client, test_admin_client

Update signup.service.ts
  apps/authorization-server/src/user-management/aggregates/signup/signup.service.ts
Due: test_authorization_server

Add new docker-compose file
  docker/lixi-backend.yaml
  docker/lixi-frontend.yaml
  frontends/admin-client/Dockerfile
  frontends/admin-client/yarn.lock
  frontends/authorization-client/Dockerfile
  frontends/identity-client/Dockerfile
Due: test_authorization_client, test_identity_client, test_admin_client

Create LIXILOTUS_SETUP.md
  LIXILOTUS_SETUP.md
Due: none

Update LIXILOTUS_SETUP.md
  LIXILOTUS_SETUP.md
Due: none

feat(authorization-server): allow localhost redirect url
  apps/authorization-server/package.json
  apps/authorization-server/src/client-management/entities/client/create-client.dto.ts
  apps/authorization-server/yarn.lock
  apps/communication-server/package.json
  apps/communication-server/yarn.lock
  apps/identity-provider/package.json
  apps/identity-provider/yarn.lock
  apps/infrastructure-console/package.json
  apps/infrastructure-console/yarn.lock
  frontends/admin-client/package.json
  frontends/admin-client/yarn.lock
  frontends/authorization-client/package.json
  frontends/authorization-client/yarn.lock
  frontends/identity-client/package.json
  frontends/identity-client/yarn.lock
  package.json
  yarn.lock
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

v6.8.4
  apps/authorization-server/package.json
  apps/communication-server/package.json
  apps/identity-provider/package.json
  apps/infrastructure-console/package.json
  frontends/admin-client/package.json
  frontends/authorization-client/package.json
  frontends/identity-client/package.json
  lerna.json
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

Publish Helm Chart 2.8.4
  kubernetes/helm-chart/Chart.yaml
  kubernetes/helm-chart/values.yaml
Due: none

Support lixilotus
  .gitattributes
  apps/authorization-server/src/main.ts
  apps/authorization-server/src/user-management/aggregates/signup/signup.service.ts
  apps/authorization-server/src/user-management/commands/index.ts
  apps/authorization-server/src/user-management/commands/signup-via-email-no-verified/signup-via-email-no-verified.command.ts
  apps/authorization-server/src/user-management/commands/signup-via-email-no-verified/signup-via-email-no-verified.handler.ts
  apps/authorization-server/src/user-management/controllers/signup/signup.controller.ts
  apps/authorization-server/src/user-management/events/index.ts
  apps/authorization-server/src/user-management/events/user-signed-up-via-email-no-verified/user-signed-up-via-email-no-verified.event.ts
  apps/authorization-server/src/user-management/events/user-signed-up-via-email-no-verified/user-signed-up-via-email-no-verified.handler.ts
  apps/authorization-server/src/user-management/policies/index.ts
  apps/authorization-server/src/user-management/policies/signup-via-email-no-verified/signup-via-email-no-verified.dto.ts
  docker/lixi-backend.yaml
  docker/lixi-frontend.yaml
  frontends/admin-client/Dockerfile
  frontends/authorization-client/Dockerfile
  frontends/identity-client/Dockerfile
Due: test_authorization_server, test_authorization_client, test_identity_client, test_admin_client
