Repository bcProFoundation/building-blocks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

Path conditions:
  test_authorization_server: any of: apps/authorization-server/**/*
  test_authorization_client: any of: frontends/authorization-client/**/*
  test_communication_server: any of: apps/communication-server/**/*
  test_identity_provider: any of: apps/identity-provider/**/*
  test_identity_client: any of: frontends/identity-client/**/*
  test_infrastructure_console: any of: apps/infrastructure-console/**/*
  test_admin_client: any of: frontends/admin-client/**/*

ci: fix push infra-console image command
  .gitlab-ci.yml
Due: none

update: root and packages
  apps/authorization-server/package-lock.json
  apps/authorization-server/package.json
  apps/communication-server/package-lock.json
  apps/communication-server/package.json
  apps/identity-provider/package-lock.json
  apps/identity-provider/package.json
  apps/infrastructure-console/package-lock.json
  apps/infrastructure-console/package.json
  docker/docker-compose-events.yml
  frontends/admin-client/package-lock.json
  frontends/admin-client/package.json
  frontends/authorization-client/package-lock.json
  frontends/authorization-client/package.json
  frontends/identity-client/package-lock.json
  frontends/identity-client/package.json
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

update: root and packages
  apps/authorization-server/package-lock.json
  apps/authorization-server/package.json
  apps/communication-server/package-lock.json
  apps/communication-server/package.json
  apps/identity-provider/package-lock.json
  apps/identity-provider/package.json
  apps/infrastructure-console/package-lock.json
  apps/infrastructure-console/package.json
  frontends/admin-client/package-lock.json
  frontends/admin-client/package.json
  frontends/authorization-client/package-lock.json
  frontends/authorization-client/package.json
  frontends/identity-client/package-lock.json
  frontends/identity-client/package.json
  package-lock.json
  package.json
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

v6.2.9
  apps/authorization-server/package-lock.json
  apps/authorization-server/package.json
  apps/communication-server/package-lock.json
  apps/communication-server/package.json
  apps/identity-provider/package-lock.json
  apps/identity-provider/package.json
  apps/infrastructure-console/package-lock.json
  apps/infrastructure-console/package.json
  frontends/admin-client/package-lock.json
  frontends/admin-client/package.json
  frontends/authorization-client/package-lock.json
  frontends/authorization-client/package.json
  frontends/identity-client/package-lock.json
  frontends/identity-client/package.json
  lerna.json
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

Publish Helm Chart 2.2.9
  kubernetes/helm-chart/Chart.yaml
  kubernetes/helm-chart/values.yaml
Due: none

feat: delete resources
  apps/communication-server/src/cloud-storage/aggregates/cloud-storage-aggregate/cloud-storage-aggregate.service.ts
  apps/communication-server/src/cloud-storage/commands/remove-cloud-storage/remove-cloud-storage.handler.ts
  apps/communication-server/src/cloud-storage/controllers/cloud-storage/cloud-storage.controller.ts
  apps/communication-server/src/cloud-storage/events/cloud-storage-created-event/cloud-storage-created-handler.ts
  apps/communication-server/src/cloud-storage/events/cloud-storage-removed-event/cloud-storage-removed-event.ts
  apps/communication-server/src/cloud-storage/events/cloud-storage-removed-event/cloud-storage-removed-handler.ts
  apps/communication-server/src/cloud-storage/events/index.ts
  apps/communication-server/src/email/controllers/email/email.controller.ts
  apps/communication-server/src/email/controllers/email/email.service.ts
  frontends/admin-client/src/app/authorization-ui/client/client.component.html
  frontends/admin-client/src/app/authorization-ui/client/client.component.ts
  frontends/admin-client/src/app/authorization-ui/client/client.service.ts
  frontends/admin-client/src/app/authorization-ui/role/role.component.html
  frontends/admin-client/src/app/authorization-ui/role/role.component.ts
  frontends/admin-client/src/app/authorization-ui/role/role.service.ts
  frontends/admin-client/src/app/authorization-ui/scope/scope.component.html
  frontends/admin-client/src/app/authorization-ui/scope/scope.component.ts
  frontends/admin-client/src/app/authorization-ui/scope/scope.service.ts
  frontends/admin-client/src/app/authorization-ui/social-login/social-login.component.html
  frontends/admin-client/src/app/authorization-ui/social-login/social-login.component.ts
  frontends/admin-client/src/app/authorization-ui/social-login/social-login.service.ts
  frontends/admin-client/src/app/authorization-ui/user/user.component.html
  frontends/admin-client/src/app/authorization-ui/user/user.component.ts
  frontends/admin-client/src/app/authorization-ui/user/user.service.ts
  frontends/admin-client/src/app/communication-ui/cloud-storage/cloud-storage.component.html
  frontends/admin-client/src/app/communication-ui/cloud-storage/cloud-storage.component.ts
  frontends/admin-client/src/app/communication-ui/cloud-storage/cloud-storage.service.ts
  frontends/admin-client/src/app/communication-ui/email/email.component.html
  frontends/admin-client/src/app/communication-ui/email/email.component.ts
  frontends/admin-client/src/app/communication-ui/email/email.service.ts
  frontends/admin-client/src/app/infrastructure-ui/service-type/service-type.component.ts
  frontends/admin-client/src/app/infrastructure-ui/service/service.component.html
  frontends/admin-client/src/app/infrastructure-ui/service/service.component.ts
  frontends/admin-client/src/app/infrastructure-ui/service/service.service.ts
  frontends/admin-client/src/app/shared-imports/material/material.module.ts
  frontends/admin-client/src/app/shared-ui/delete-dialog/delete-dialog.component.css
  frontends/admin-client/src/app/shared-ui/delete-dialog/delete-dialog.component.html
  frontends/admin-client/src/app/shared-ui/delete-dialog/delete-dialog.component.spec.ts
  frontends/admin-client/src/app/shared-ui/delete-dialog/delete-dialog.component.ts
  frontends/admin-client/src/app/shared-ui/shared-ui.module.ts
Due: test_communication_server, test_admin_client

feat(identity-provider): connected device controller
  apps/identity-provider/src/auth/aggregates/connected-device/connected-device.service.spec.ts
  apps/identity-provider/src/auth/aggregates/connected-device/connected-device.service.ts
  apps/identity-provider/src/auth/aggregates/index.ts
  apps/identity-provider/src/auth/auth.module.ts
  apps/identity-provider/src/auth/controllers/connected-device/connected-device.controller.spec.ts
  apps/identity-provider/src/auth/controllers/connected-device/connected-device.controller.ts
  apps/identity-provider/src/auth/controllers/index.ts
  apps/identity-provider/src/constants/app-strings.ts
  apps/identity-provider/src/constants/messages.ts
  apps/identity-provider/src/system-settings/entities/server-settings/server-settings.entity.ts
Due: test_identity_provider

update: root and packages
  apps/authorization-server/package-lock.json
  apps/authorization-server/package.json
  apps/communication-server/package-lock.json
  apps/communication-server/package.json
  apps/identity-provider/package-lock.json
  apps/identity-provider/package.json
  apps/infrastructure-console/package-lock.json
  apps/infrastructure-console/package.json
  frontends/admin-client/package-lock.json
  frontends/admin-client/package.json
  frontends/authorization-client/package-lock.json
  frontends/authorization-client/package.json
  frontends/identity-client/package-lock.json
  frontends/identity-client/package.json
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

feat: signup with mobile
  apps/authorization-server/src/auth/aggregates/otp-aggregate/otp-aggregate.service.ts
  apps/authorization-server/src/auth/events/phone-verified/phone-verified.handler.ts
  apps/authorization-server/src/auth/events/user-authenticator-removed/user-authenticator-removed.handler.ts
  apps/authorization-server/src/auth/schedulers/delete-unverified-phones/delete-unverified-phones.service.spec.ts
  apps/authorization-server/src/auth/schedulers/delete-unverified-phones/delete-unverified-phones.service.ts
  apps/authorization-server/src/auth/schedulers/index.ts
  apps/authorization-server/src/user-management/aggregates/signup/signup.service.spec.ts
  apps/authorization-server/src/user-management/aggregates/signup/signup.service.ts
  apps/authorization-server/src/user-management/aggregates/user-aggregate/user-aggregate.service.ts
  apps/authorization-server/src/user-management/commands/index.ts
  apps/authorization-server/src/user-management/commands/signup-via-phone/signup-via-phone.command.ts
  apps/authorization-server/src/user-management/commands/signup-via-phone/signup-via-phone.handler.ts
  apps/authorization-server/src/user-management/commands/verify-email-and-set-passsword/verify-email-and-set-password.command.ts
  apps/authorization-server/src/user-management/commands/verify-email-and-set-passsword/verify-email-and-set-password.handler.ts
  apps/authorization-server/src/user-management/controllers/signup/signup.controller.ts
  apps/authorization-server/src/user-management/controllers/user/user.controller.ts
  apps/authorization-server/src/user-management/entities/entities.module.ts
  apps/authorization-server/src/user-management/events/email-verified-and-password-set/email-verified-and-password-set.handler.ts
  apps/authorization-server/src/user-management/events/user-account-added/user-account-added.event.ts
  apps/authorization-server/src/user-management/events/user-account-added/user-account-added.handler.ts
  apps/authorization-server/src/user-management/policies/index.ts
  apps/authorization-server/src/user-management/policies/signup-via-phone/signup-via-phone.dto.ts
  apps/authorization-server/src/user-management/policies/verify-signup-via-phone/verify-signup-via-phone.dto.ts
  frontends/authorization-client/src/app/auth/auth.service.ts
  frontends/authorization-client/src/app/choose-account/choose-account.component.html
  frontends/authorization-client/src/app/common/server-info.interface.ts
  frontends/authorization-client/src/app/constants/app-strings.ts
  frontends/authorization-client/src/app/constants/messages.ts
  frontends/authorization-client/src/app/signup/signup.component.html
  frontends/authorization-client/src/app/signup/signup.component.ts
  frontends/authorization-client/src/environments/environment.prod.ts
  frontends/authorization-client/src/environments/environment.ts
  frontends/identity-client/docker/nginx-default.conf.template
Due: test_authorization_server, test_authorization_client, test_identity_client

ci(authorization-client): fix lint and tests
  frontends/authorization-client/src/app/verify-email/verify-email.component.spec.ts
  frontends/authorization-client/src/app/verify-email/verify-email.component.ts
Due: test_authorization_client

update: root and packages
  apps/authorization-server/package-lock.json
  apps/authorization-server/package.json
  apps/authorization-server/src/auth/aggregates/webauthn-aggregate/webauthn-aggregate.service.ts
  apps/authorization-server/src/auth/middlewares/rate-limit.middleware.ts
  apps/authorization-server/src/common/database.provider.ts
  apps/communication-server/package-lock.json
  apps/communication-server/package.json
  apps/communication-server/src/constants/typeorm.connection.ts
  apps/identity-provider/package-lock.json
  apps/identity-provider/package.json
  apps/identity-provider/src/constants/typeorm.connection.ts
  apps/infrastructure-console/package-lock.json
  apps/infrastructure-console/package.json
  apps/infrastructure-console/src/constants/typeorm.connection.ts
  frontends/admin-client/package-lock.json
  frontends/admin-client/package.json
  frontends/authorization-client/docker/nginx-default.conf.template
  frontends/authorization-client/package-lock.json
  frontends/authorization-client/package.json
  frontends/identity-client/package-lock.json
  frontends/identity-client/package.json
  frontends/identity-client/src/app/update-email/update-email.component.spec.ts
  package-lock.json
  package.json
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

v6.3.0
  apps/authorization-server/package-lock.json
  apps/authorization-server/package.json
  apps/communication-server/package-lock.json
  apps/communication-server/package.json
  apps/identity-provider/package-lock.json
  apps/identity-provider/package.json
  apps/infrastructure-console/package-lock.json
  apps/infrastructure-console/package.json
  frontends/admin-client/package-lock.json
  frontends/admin-client/package.json
  frontends/authorization-client/package-lock.json
  frontends/authorization-client/package.json
  frontends/identity-client/package-lock.json
  frontends/identity-client/package.json
  lerna.json
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

Publish Helm Chart 2.3.0
  kubernetes/helm-chart/Chart.yaml
  kubernetes/helm-chart/values.yaml
Due: none

fix(authorization-client): email verification with non-closing snackbar message
  frontends/authorization-client/src/app/app-routing.module.ts
  frontends/authorization-client/src/app/constants/app-strings.ts
  frontends/authorization-client/src/app/constants/messages.ts
  frontends/authorization-client/src/app/verify-email/verify-email.component.spec.ts
  frontends/authorization-client/src/app/verify-email/verify-email.component.ts
Due: test_authorization_client

v6.3.1
  frontends/authorization-client/package-lock.json
  frontends/authorization-client/package.json
  lerna.json
Due: test_authorization_client

Publish Helm Chart 2.3.1
  kubernetes/helm-chart/Chart.yaml
  kubernetes/helm-chart/values.yaml
Due: none

feat: login automatically after mobile signup verified
  apps/authorization-server/src/auth/aggregates/otp-aggregate/otp-aggregate.service.ts
  apps/authorization-server/src/auth/aggregates/webauthn-aggregate/webauthn-aggregate.service.ts
  apps/authorization-server/src/auth/commands/verify-phone/verify-phone.command.ts
  apps/authorization-server/src/auth/commands/verify-phone/verify-phone.handler.ts
  apps/authorization-server/src/user-management/aggregates/user-aggregate/user-aggregate.service.ts
  apps/authorization-server/src/user-management/controllers/user/user.controller.ts
  frontends/authorization-client/src/app/signup/signup.component.ts
Due: test_authorization_server, test_authorization_client

v6.4.0
  apps/authorization-server/package-lock.json
  apps/authorization-server/package.json
  apps/communication-server/package-lock.json
  apps/communication-server/package.json
  apps/identity-provider/package-lock.json
  apps/identity-provider/package.json
  apps/infrastructure-console/package-lock.json
  apps/infrastructure-console/package.json
  frontends/admin-client/package-lock.json
  frontends/admin-client/package.json
  frontends/authorization-client/package-lock.json
  frontends/authorization-client/package.json
  frontends/identity-client/package-lock.json
  frontends/identity-client/package.json
  lerna.json
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

Publish Helm Chart 2.4.0
  kubernetes/helm-chart/Chart.yaml
  kubernetes/helm-chart/values.yaml
Due: none

fix: secure docker images
  apps/authorization-server/Dockerfile
  apps/authorization-server/docker/docker-entrypoint.sh
  apps/communication-server/Dockerfile
  apps/communication-server/docker/docker-entrypoint.sh
  apps/identity-provider/Dockerfile
  apps/identity-provider/docker/docker-entrypoint.sh
  apps/infrastructure-console/Dockerfile
  apps/infrastructure-console/docker/docker-entrypoint.sh
  frontends/admin-client/Dockerfile
  frontends/authorization-client/Dockerfile
  frontends/authorization-client/package.json
  frontends/identity-client/Dockerfile
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

update: root and packages
  apps/authorization-server/package-lock.json
  apps/authorization-server/package.json
  apps/authorization-server/patches/connect-mongo+3.2.0.patch
  apps/authorization-server/src/common/database.provider.ts
  apps/authorization-server/src/express-server.ts
  apps/authorization-server/tests/e2e-helpers.ts
  apps/communication-server/package-lock.json
  apps/communication-server/package.json
  apps/identity-provider/package-lock.json
  apps/identity-provider/package.json
  apps/infrastructure-console/package-lock.json
  apps/infrastructure-console/package.json
  frontends/admin-client/package-lock.json
  frontends/admin-client/package.json
  frontends/authorization-client/package-lock.json
  frontends/authorization-client/package.json
  frontends/identity-client/package-lock.json
  frontends/identity-client/package.json
  package-lock.json
  package.json
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

v6.4.1
  apps/authorization-server/package-lock.json
  apps/authorization-server/package.json
  apps/communication-server/package-lock.json
  apps/communication-server/package.json
  apps/identity-provider/package-lock.json
  apps/identity-provider/package.json
  apps/infrastructure-console/package-lock.json
  apps/infrastructure-console/package.json
  frontends/admin-client/package-lock.json
  frontends/admin-client/package.json
  frontends/authorization-client/package-lock.json
  frontends/authorization-client/package.json
  frontends/identity-client/package-lock.json
  frontends/identity-client/package.json
  lerna.json
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

Publish Helm Chart 2.4.1
  kubernetes/helm-chart/Chart.yaml
  kubernetes/helm-chart/values.yaml
Due: none

feat: disable user deletion
  apps/authorization-server/src/auth/controllers/social-login/social-login.controller.spec.ts
  apps/authorization-server/src/auth/controllers/webauthn/webauthn.controller.spec.ts
  apps/authorization-server/src/auth/guards/bearer-token.guard.ts
  apps/authorization-server/src/client-management/controllers/client/client.controller.spec.ts
  apps/authorization-server/src/common/filters/exceptions.ts
  apps/authorization-server/src/i18n/en.json
  apps/authorization-server/src/system-settings/controllers/server-settings/server-settings.controller.spec.ts
  apps/authorization-server/src/system-settings/entities/server-settings/server-setting.dto.ts
  apps/authorization-server/src/system-settings/entities/server-settings/server-settings.interface.ts
  apps/authorization-server/src/system-settings/entities/server-settings/server-settings.schema.ts
  apps/authorization-server/src/user-management/aggregates/user-management/user-management.service.ts
  apps/authorization-server/src/user-management/commands/remove-user-account/remove-user-account.command.ts
  apps/authorization-server/src/user-management/commands/remove-user-account/remove-user-account.handler.ts
  apps/authorization-server/src/user-management/controllers/role/role.controller.spec.ts
  apps/authorization-server/src/user-management/controllers/user-claim/user-claim.controller.spec.ts
  apps/authorization-server/src/user-management/controllers/user/user.controller.spec.ts
  apps/authorization-server/src/user-management/controllers/user/user.controller.ts
  apps/authorization-server/src/user-management/events/user-account-removed/user-account-removed.handler.spec.ts
  apps/authorization-server/src/user-management/events/user-account-removed/user-account-removed.ts
  frontends/admin-client/src/app/authorization-ui/auth-settings/auth-settings.component.html
  frontends/admin-client/src/app/authorization-ui/auth-settings/auth-settings.component.ts
  frontends/admin-client/src/app/authorization-ui/auth-settings/auth-settings.service.ts
  frontends/identity-client/src/app/constants/messages.ts
  frontends/identity-client/src/app/profile/profile.component.ts
Due: test_authorization_server, test_identity_client, test_admin_client

v6.5.0
  apps/authorization-server/package-lock.json
  apps/authorization-server/package.json
  apps/communication-server/package-lock.json
  apps/communication-server/package.json
  apps/identity-provider/package-lock.json
  apps/identity-provider/package.json
  apps/infrastructure-console/package-lock.json
  apps/infrastructure-console/package.json
  frontends/admin-client/package-lock.json
  frontends/admin-client/package.json
  frontends/authorization-client/package-lock.json
  frontends/authorization-client/package.json
  frontends/identity-client/package-lock.json
  frontends/identity-client/package.json
  lerna.json
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

Publish Helm Chart 2.5.0
  kubernetes/helm-chart/Chart.yaml
  kubernetes/helm-chart/values.yaml
Due: none

v6.5.1
  apps/authorization-server/package-lock.json
  apps/authorization-server/package.json
  apps/communication-server/package-lock.json
  apps/communication-server/package.json
  apps/identity-provider/package-lock.json
  apps/identity-provider/package.json
  apps/infrastructure-console/package-lock.json
  apps/infrastructure-console/package.json
  frontends/admin-client/package-lock.json
  frontends/admin-client/package.json
  frontends/authorization-client/package-lock.json
  frontends/authorization-client/package.json
  frontends/identity-client/package-lock.json
  frontends/identity-client/package.json
  lerna.json
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

Publish Helm Chart 2.5.1
  kubernetes/helm-chart/Chart.yaml
  kubernetes/helm-chart/values.yaml
Due: none

update: root and packages
  README.md
  apps/authorization-server/package-lock.json
  apps/authorization-server/package.json
  apps/authorization-server/src/auth/schedulers/keypair-generator/keypair-generator.service.ts
  apps/communication-server/package-lock.json
  apps/communication-server/package.json
  apps/identity-provider/package-lock.json
  apps/identity-provider/package.json
  apps/infrastructure-console/package-lock.json
  apps/infrastructure-console/package.json
  frontends/admin-client/package-lock.json
  frontends/admin-client/package.json
  frontends/authorization-client/package-lock.json
  frontends/authorization-client/package.json
  frontends/identity-client/package-lock.json
  frontends/identity-client/package.json
  package-lock.json
  package.json
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

v6.5.2
  apps/authorization-server/package-lock.json
  apps/authorization-server/package.json
  apps/communication-server/package-lock.json
  apps/communication-server/package.json
  apps/identity-provider/package-lock.json
  apps/identity-provider/package.json
  apps/infrastructure-console/package-lock.json
  apps/infrastructure-console/package.json
  frontends/admin-client/package-lock.json
  frontends/admin-client/package.json
  frontends/authorization-client/package-lock.json
  frontends/authorization-client/package.json
  frontends/identity-client/package-lock.json
  frontends/identity-client/package.json
  lerna.json
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

Publish Helm Chart 2.5.2
  kubernetes/helm-chart/Chart.yaml
  kubernetes/helm-chart/values.yaml
Due: none

update: root and packages
  .gitlab-ci.yml
  README.md
  apps/authorization-server/package-lock.json
  apps/authorization-server/package.json
  apps/communication-server/package-lock.json
  apps/communication-server/package.json
  apps/identity-provider/package-lock.json
  apps/identity-provider/package.json
  apps/infrastructure-console/package-lock.json
  apps/infrastructure-console/package.json
  docker/develop.yaml
  frontends/admin-client/package-lock.json
  frontends/admin-client/package.json
  frontends/authorization-client/package-lock.json
  frontends/authorization-client/package.json
  frontends/identity-client/package-lock.json
  frontends/identity-client/package.json
  package-lock.json
  package.json
  scripts/requirements.txt
  scripts/setup.Dockerfile
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

v6.5.3
  apps/authorization-server/package-lock.json
  apps/authorization-server/package.json
  apps/communication-server/package-lock.json
  apps/communication-server/package.json
  apps/identity-provider/package-lock.json
  apps/identity-provider/package.json
  apps/infrastructure-console/package-lock.json
  apps/infrastructure-console/package.json
  frontends/admin-client/package-lock.json
  frontends/admin-client/package.json
  frontends/authorization-client/package-lock.json
  frontends/authorization-client/package.json
  frontends/identity-client/package-lock.json
  frontends/identity-client/package.json
  lerna.json
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

Publish Helm Chart 2.5.3
  kubernetes/helm-chart/Chart.yaml
  kubernetes/helm-chart/values.yaml
Due: none

fix(setup-cli): env bin path in container image
  scripts/setup.Dockerfile
Due: none

docs: quickstart readme with containers
  README.md
Due: none
