Repository bcProFoundation/building-blocks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

test_authorization_server:
  image: registry.gitlab.com/castlecraft/docker-craft/node-latest-gettext-base:latest
  stage: tests
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - apps/authorization-server/node_modules/
  variables:
    NODE_ENV: development
    SESSION_SECRET: secret
    COOKIE_MAX_AGE: '43200'
  ...

test_authorization_client:
  image: registry.gitlab.com/castlecraft/docker-craft/node-latest-headless-chrome:latest
  stage: tests
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
  before_script:
  - cd frontends/authorization-client
  - yarn
  script:
  - yarn lint
  - yarn format:check
  - NODE_ENV=test yarn test
  - NODE_ENV=test yarn e2e
  ...

test_communication_server:
  image: node:latest
  stage: tests
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - apps/communication-server/node_modules/
  before_script:
  - cd apps/communication-server
  - yarn
  script:
  - export NODE_ENV=test
  - yarn lint
  - yarn format:check
  - yarn test:server
  - yarn test:e2e
  tags:
  - docker

test_identity_provider:
  image: node:latest
  stage: tests
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - apps/identity-provider/node_modules/
  before_script:
  - cd apps/identity-provider
  - yarn
  script:
  - export NODE_ENV=test
  - yarn lint
  - yarn format:check
  - yarn test:server
  - yarn test:e2e
  tags:
  - docker

test_identity_client:
  image: registry.gitlab.com/castlecraft/docker-craft/node-latest-headless-chrome:latest
  stage: tests
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
  before_script:
  - cd frontends/identity-client
  - yarn
  script:
  - yarn lint
  - yarn format:check
  - NODE_ENV=test yarn test
  - NODE_ENV=test yarn e2e
  tags:
  ...

test_infrastructure_console:
  image: node:latest
  stage: tests
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - apps/infrastructure-console/node_modules/
  before_script:
  - cd apps/infrastructure-console
  - yarn
  script:
  - export NODE_ENV=test
  - yarn lint
  - yarn format:check
  - yarn test:server
  - yarn test:e2e
  tags:
  ...

test_admin_client:
  image: registry.gitlab.com/castlecraft/docker-craft/node-latest-headless-chrome:latest
  stage: tests
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
  before_script:
  - cd frontends/admin-client
  - yarn
  script:
  - yarn lint
  - yarn format:check
  - NODE_ENV=test yarn test
  - NODE_ENV=test yarn e2e
  tags:
  ...

v6.6.2
  apps/authorization-server/package.json
  apps/communication-server/package.json
  apps/identity-provider/package.json
  apps/infrastructure-console/package.json
  frontends/admin-client/package.json
  frontends/authorization-client/package.json
  frontends/identity-client/package.json
  lerna.json
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

Publish Helm Chart 2.6.2
  kubernetes/helm-chart/Chart.yaml
  kubernetes/helm-chart/values.yaml
Due: none

ci: fix mongodb service
  .gitlab-ci.yml
  docker/docker-compose-events.yml
Due: none

fix(authorization-client): autofocus login button
  frontends/authorization-client/src/app/login/login.component.html
Due: test_authorization_client

v6.6.3
  frontends/authorization-client/package.json
  lerna.json
Due: test_authorization_client

Publish Helm Chart 2.6.3
  kubernetes/helm-chart/Chart.yaml
  kubernetes/helm-chart/values.yaml
Due: none

fix(authorization-client): login - show password and clear icons
  frontends/authorization-client/src/app/login/login.component.html
Due: test_authorization_client

v6.6.4
  frontends/authorization-client/package.json
  lerna.json
Due: test_authorization_client

Publish Helm Chart 2.6.4
  kubernetes/helm-chart/Chart.yaml
  kubernetes/helm-chart/values.yaml
Due: none

fix(authorization-client): lock login icons on request and successful login
  frontends/authorization-client/src/app/login/login.component.html
  frontends/authorization-client/src/app/login/login.component.ts
Due: test_authorization_client

update: root and packages
  apps/authorization-server/package.json
  apps/authorization-server/yarn.lock
  apps/communication-server/package.json
  apps/communication-server/yarn.lock
  apps/identity-provider/package.json
  apps/identity-provider/yarn.lock
  apps/infrastructure-console/package.json
  apps/infrastructure-console/yarn.lock
  frontends/admin-client/package.json
  frontends/admin-client/yarn.lock
  frontends/authorization-client/package.json
  frontends/authorization-client/yarn.lock
  frontends/identity-client/package.json
  frontends/identity-client/yarn.lock
  package.json
  yarn.lock
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

v6.6.5
  apps/authorization-server/package.json
  apps/communication-server/package.json
  apps/identity-provider/package.json
  apps/infrastructure-console/package.json
  frontends/admin-client/package.json
  frontends/authorization-client/package.json
  frontends/identity-client/package.json
  lerna.json
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

Publish Helm Chart 2.6.5
  kubernetes/helm-chart/Chart.yaml
  kubernetes/helm-chart/values.yaml
Due: none

update: root and packages
  apps/authorization-server/package.json
  apps/authorization-server/src/client-management/entities/client/create-client.dto.ts
  apps/authorization-server/yarn.lock
  apps/communication-server/package.json
  apps/communication-server/yarn.lock
  apps/identity-provider/package.json
  apps/identity-provider/yarn.lock
  apps/infrastructure-console/package.json
  apps/infrastructure-console/yarn.lock
  frontends/admin-client/package.json
  frontends/admin-client/yarn.lock
  frontends/authorization-client/package.json
  frontends/authorization-client/yarn.lock
  frontends/identity-client/package.json
  frontends/identity-client/yarn.lock
  package.json
  yarn.lock
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

v6.6.6
  apps/authorization-server/package.json
  apps/communication-server/package.json
  apps/identity-provider/package.json
  apps/infrastructure-console/package.json
  frontends/admin-client/package.json
  frontends/authorization-client/package.json
  frontends/identity-client/package.json
  lerna.json
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

Publish Helm Chart 2.6.6
  kubernetes/helm-chart/Chart.yaml
  kubernetes/helm-chart/values.yaml
Due: none

ci: move everything to main branch
  .gitlab-ci.yml
Due: none

fix: reset password visibility and error message
  apps/authorization-server/docker/docker-compose.yml
  apps/authorization-server/src/common/filters/exceptions.ts
  apps/authorization-server/src/i18n/en.json
  apps/authorization-server/src/user-management/aggregates/user-aggregate/user-aggregate.service.ts
  apps/communication-server/docker/docker-compose.yml
  apps/identity-provider/docker/docker-compose.yml
  apps/infrastructure-console/docker/docker-compose.yml
  frontends/authorization-client/src/app/constants/app-strings.ts
  frontends/authorization-client/src/app/verify-email/verify-email.component.ts
  frontends/authorization-client/src/app/verify-generate-password/verify-generate-password.component.html
  frontends/authorization-client/src/app/verify-generate-password/verify-generate-password.component.ts
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_infrastructure_console

docs: update branch and image tags
  README.md
  docker/develop.yaml
  docs/docker-swarm/README.md
  docs/kubernetes/create-namespace-for-repo.md
  docs/kubernetes/mongodb-backup-cronjob.md
Due: none

ci: use headless-chrome for karma tests
  .gitlab-ci.yml
Due: none

v6.6.7
  apps/authorization-server/package.json
  apps/communication-server/package.json
  apps/identity-provider/package.json
  apps/infrastructure-console/package.json
  frontends/admin-client/package.json
  frontends/authorization-client/package.json
  frontends/identity-client/package.json
  lerna.json
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

Publish Helm Chart 2.6.7
  kubernetes/helm-chart/Chart.yaml
  kubernetes/helm-chart/values.yaml
Due: none

update: root and packages
  apps/authorization-server/package.json
  apps/authorization-server/src/auth/middlewares/rate-limit.middleware.ts
  apps/authorization-server/src/system-settings/entities/entities.ts
  apps/authorization-server/yarn.lock
  apps/communication-server/package.json
  apps/communication-server/src/main.ts
  apps/communication-server/yarn.lock
  apps/identity-provider/package.json
  apps/identity-provider/src/main.ts
  apps/identity-provider/yarn.lock
  apps/infrastructure-console/package.json
  apps/infrastructure-console/src/main.ts
  apps/infrastructure-console/yarn.lock
  frontends/admin-client/package.json
  frontends/admin-client/yarn.lock
  frontends/authorization-client/package.json
  frontends/authorization-client/yarn.lock
  frontends/identity-client/package.json
  frontends/identity-client/yarn.lock
  package.json
  yarn.lock
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

ci: fix docs artifacts url
  .gitlab-ci.yml
Due: none

v6.6.8
  apps/authorization-server/package.json
  apps/communication-server/package.json
  apps/identity-provider/package.json
  apps/infrastructure-console/package.json
  frontends/admin-client/package.json
  frontends/authorization-client/package.json
  frontends/identity-client/package.json
  lerna.json
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

Publish Helm Chart 2.6.8
  kubernetes/helm-chart/Chart.yaml
  kubernetes/helm-chart/values.yaml
Due: none

v6.6.9
  apps/authorization-server/package.json
  apps/communication-server/package.json
  apps/identity-provider/package.json
  apps/infrastructure-console/package.json
  frontends/admin-client/package.json
  frontends/authorization-client/package.json
  frontends/identity-client/package.json
  lerna.json
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

Publish Helm Chart 2.6.9
  kubernetes/helm-chart/Chart.yaml
  kubernetes/helm-chart/values.yaml
Due: none

v6.7.0
  apps/authorization-server/package.json
  apps/communication-server/package.json
  apps/identity-provider/package.json
  apps/infrastructure-console/package.json
  frontends/admin-client/package.json
  frontends/authorization-client/package.json
  frontends/identity-client/package.json
  lerna.json
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

Publish Helm Chart 2.7.0
  kubernetes/helm-chart/Chart.yaml
  kubernetes/helm-chart/values.yaml
Due: none

ci: fix frontend builds
  .gitlab-ci.yml
  frontends/admin-client/README.md
  frontends/admin-client/src/environments/environment.ts
  frontends/authorization-client/README.md
  frontends/authorization-client/src/environments/environment.ts
  frontends/identity-client/README.md
  frontends/identity-client/src/environments/environment.ts
Due: test_authorization_client, test_identity_client, test_admin_client

v6.7.1
  frontends/admin-client/package.json
  frontends/authorization-client/package.json
  frontends/identity-client/package.json
  lerna.json
Due: test_authorization_client, test_identity_client, test_admin_client

Publish Helm Chart 2.7.1
  kubernetes/helm-chart/Chart.yaml
  kubernetes/helm-chart/values.yaml
Due: none

update: root and packages
  apps/authorization-server/package.json
  apps/authorization-server/src/auth/controllers/auth/auth.service.ts
  apps/authorization-server/src/auth/passport/base/http-bearer.strategy.ts
  apps/authorization-server/src/auth/passport/base/local.strategy.ts
  apps/authorization-server/src/auth/passport/base/oauth2-client-password.strategy.ts
  apps/authorization-server/src/auth/passport/base/oauth2-client.strategy.ts
  apps/authorization-server/src/auth/passport/base/oauth2-code.strategy.ts
  apps/authorization-server/src/auth/passport/strategies/authorization-code.strategy.ts
  apps/authorization-server/src/auth/passport/strategies/client-password.strategy.ts
  apps/authorization-server/src/auth/passport/strategies/http-bearer.strategy.ts
  apps/authorization-server/src/auth/passport/strategies/local.strategy.ts
  apps/authorization-server/src/auth/passport/strategies/oauth2-client.strategy.ts
  apps/authorization-server/src/user-management/controllers/user/user.controller.ts
  apps/authorization-server/yarn.lock
  apps/communication-server/package.json
  apps/communication-server/yarn.lock
  apps/identity-provider/package.json
  apps/identity-provider/yarn.lock
  apps/infrastructure-console/package.json
  apps/infrastructure-console/yarn.lock
  frontends/admin-client/cypress/videos/spec.ts.mp4
  frontends/admin-client/package.json
  frontends/admin-client/yarn.lock
  frontends/authorization-client/cypress/videos/spec.ts.mp4
  frontends/authorization-client/package.json
  frontends/authorization-client/yarn.lock
  frontends/identity-client/cypress/videos/spec.ts.mp4
  frontends/identity-client/package.json
  frontends/identity-client/yarn.lock
  package.json
  yarn.lock
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

chore: remove cypress videos
  frontends/admin-client/cypress/videos/spec.ts.mp4
  frontends/authorization-client/cypress/videos/spec.ts.mp4
  frontends/identity-client/cypress/videos/spec.ts.mp4
Due: test_authorization_client, test_identity_client, test_admin_client

v6.8.0
  apps/authorization-server/package.json
  apps/communication-server/package.json
  apps/identity-provider/package.json
  apps/infrastructure-console/package.json
  frontends/admin-client/package.json
  frontends/authorization-client/package.json
  frontends/identity-client/package.json
  lerna.json
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

Publish Helm Chart 2.8.0
  kubernetes/helm-chart/Chart.yaml
  kubernetes/helm-chart/values.yaml
Due: none

Path conditions:
  test_authorization_server: any of: apps/authorization-server/**/*
  test_authorization_client: any of: frontends/authorization-client/**/*
  test_communication_server: any of: apps/communication-server/**/*
  test_identity_provider: any of: apps/identity-provider/**/*
  test_identity_client: any of: frontends/identity-client/**/*
  test_infrastructure_console: any of: apps/infrastructure-console/**/*
  test_admin_client: any of: frontends/admin-client/**/*
