Repository bcProFoundation/building-blocks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

test_authorization_server:
  image: registry.gitlab.com/castlecraft/docker-craft/node-latest-gettext-base:latest
  stage: tests
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - apps/authorization-server/node_modules/
  variables:
    NODE_ENV: development
    SESSION_SECRET: secret
    COOKIE_MAX_AGE: '43200'
  ...

test_authorization_client:
  image: registry.gitlab.com/castlecraft/docker-craft/node-latest-headless-chrome:latest
  stage: tests
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - frontends/authorization-client/node_modules/
  before_script:
  - cd frontends/authorization-client
  - npm install
  script:
  - npm run lint
  ...

test_communication_server:
  image: node:latest
  stage: tests
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - apps/communication-server/node_modules/
  before_script:
  - cd apps/communication-server
  - npm install
  script:
  - export NODE_ENV=test
  - npm run lint
  - npm run format:check
  - npm run test:server
  ...

test_identity_provider:
  image: node:latest
  stage: tests
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - apps/identity-provider/node_modules/
  before_script:
  - cd apps/identity-provider
  - npm install
  script:
  - export NODE_ENV=test
  - npm run lint
  - npm run format:check
  - npm run test:server
  - npm run test:e2e
  ...

test_identity_client:
  image: registry.gitlab.com/castlecraft/docker-craft/node-latest-headless-chrome:latest
  stage: tests
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - frontends/identity-client/node_modules/
  before_script:
  - cd frontends/identity-client
  - npm install
  script:
  - export NODE_ENV=test
  ...

test_infrastructure_console:
  image: node:latest
  stage: tests
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - apps/infrastructure-console/node_modules/
  before_script:
  - cd apps/infrastructure-console
  - npm install
  script:
  - export NODE_ENV=test
  - npm run lint
  - npm run format:check
  - npm run test:server
  ...

test_admin_client:
  image: registry.gitlab.com/castlecraft/docker-craft/node-latest-headless-chrome:latest
  stage: tests
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - frontends/admin-client/node_modules/
  before_script:
  - cd frontends/admin-client
  - npm install
  script:
  - export NODE_ENV=test
  - npm run lint
  ...

v6.5.4
  apps/authorization-server/package-lock.json
  apps/authorization-server/package.json
  apps/communication-server/package-lock.json
  apps/communication-server/package.json
  apps/identity-provider/package-lock.json
  apps/identity-provider/package.json
  apps/infrastructure-console/package-lock.json
  apps/infrastructure-console/package.json
  frontends/admin-client/package-lock.json
  frontends/admin-client/package.json
  frontends/authorization-client/package-lock.json
  frontends/authorization-client/package.json
  frontends/identity-client/package-lock.json
  frontends/identity-client/package.json
  lerna.json
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

Publish Helm Chart 2.5.4
  kubernetes/helm-chart/Chart.yaml
  kubernetes/helm-chart/values.yaml
Due: none

fix: frontend image ng build command
  frontends/admin-client/Dockerfile
  frontends/authorization-client/Dockerfile
  frontends/identity-client/Dockerfile
Due: test_authorization_client, test_identity_client, test_admin_client

fix(admin-client): angular.json for ng build command
  frontends/authorization-client/angular.json
Due: test_authorization_client

fix: angular.json for id and admin client
  frontends/admin-client/angular.json
  frontends/identity-client/angular.json
Due: test_identity_client, test_admin_client

ci: fix emqx auth user
  .gitlab-ci.yml
Due: none

v6.5.5
  apps/authorization-server/package.json
  apps/communication-server/package.json
  apps/identity-provider/package.json
  apps/infrastructure-console/package.json
  frontends/admin-client/package.json
  frontends/authorization-client/package.json
  frontends/identity-client/package.json
  lerna.json
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

Publish Helm Chart 2.5.5
  kubernetes/helm-chart/Chart.yaml
  kubernetes/helm-chart/values.yaml
Due: none

update: root and packages
  apps/authorization-server/package.json
  apps/authorization-server/src/auth/aggregates/social-login-callback/social-login-callback.service.ts
  apps/authorization-server/yarn.lock
  apps/communication-server/package.json
  apps/communication-server/yarn.lock
  apps/identity-provider/package.json
  apps/identity-provider/yarn.lock
  apps/infrastructure-console/package.json
  apps/infrastructure-console/yarn.lock
  frontends/admin-client/angular.json
  frontends/admin-client/package.json
  frontends/admin-client/src/app/app.component.ts
  frontends/admin-client/src/app/shared-ui/navigation/navigation.component.ts
  frontends/admin-client/yarn.lock
  frontends/authorization-client/angular.json
  frontends/authorization-client/package.json
  frontends/authorization-client/yarn.lock
  frontends/identity-client/angular.json
  frontends/identity-client/package.json
  frontends/identity-client/src/app/app.component.ts
  frontends/identity-client/src/app/navigation/navigation.component.ts
  frontends/identity-client/yarn.lock
  package.json
  yarn.lock
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

v6.5.6
  apps/authorization-server/package.json
  apps/communication-server/package.json
  apps/identity-provider/package.json
  apps/infrastructure-console/package.json
  frontends/admin-client/package.json
  frontends/authorization-client/package.json
  frontends/identity-client/package.json
  lerna.json
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

Publish Helm Chart 2.5.6
  kubernetes/helm-chart/Chart.yaml
  kubernetes/helm-chart/values.yaml
Due: none

v6.5.7
  apps/authorization-server/package.json
  apps/communication-server/package.json
  apps/identity-provider/package.json
  apps/infrastructure-console/package.json
  frontends/admin-client/package.json
  frontends/authorization-client/package.json
  frontends/identity-client/package.json
  lerna.json
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

Publish Helm Chart 2.5.7
  kubernetes/helm-chart/Chart.yaml
  kubernetes/helm-chart/values.yaml
Due: none

ci: fix client tests
  .gitlab-ci.yml
Due: none

feat: add optional events clientid
  apps/authorization-server/docker/docker-entrypoint.sh
  apps/authorization-server/docker/env-events.tmpl
  apps/authorization-server/src/common/events-microservice.client.ts
  apps/authorization-server/src/config/config.service.ts
  apps/communication-server/docker/docker-entrypoint.sh
  apps/communication-server/docker/env-events.tmpl
  apps/communication-server/src/common/events-microservice.client.ts
  apps/communication-server/src/config/config.service.ts
  apps/identity-provider/docker/docker-entrypoint.sh
  apps/identity-provider/docker/env-events.tmpl
  apps/identity-provider/src/common/events-microservice.client.ts
  apps/identity-provider/src/config/config.service.ts
  apps/infrastructure-console/docker/docker-entrypoint.sh
  apps/infrastructure-console/docker/env-events.tmpl
  apps/infrastructure-console/src/common/events-microservice.client.ts
  apps/infrastructure-console/src/config/config.service.ts
  docker/env-example/authorization-server-env
  docker/env-example/backing-services-env
  docker/env-example/communication-server-env
  docker/env-example/identity-provider-env
  docker/env-example/infrastructure-console-env
  docs/authorization-server/README.md
  docs/communication-server/README.md
  docs/identity-provider/README.md
  docs/infrastructure-console/README.md
Due: test_authorization_server, test_communication_server, test_identity_provider, test_infrastructure_console

feat(authorization-server): trigger events on setup
  apps/authorization-server/src/system-settings/commands/index.ts
  apps/authorization-server/src/system-settings/commands/setup-server/setup-server.command.ts
  apps/authorization-server/src/system-settings/commands/setup-server/setup-server.handler.ts
  apps/authorization-server/src/system-settings/controllers/setup/setup.controller.spec.ts
  apps/authorization-server/src/system-settings/controllers/setup/setup.controller.ts
  apps/authorization-server/src/system-settings/controllers/setup/setup.service.ts
Due: test_authorization_server

update: root and packages
  apps/authorization-server/package.json
  apps/authorization-server/yarn.lock
  apps/communication-server/package.json
  apps/communication-server/yarn.lock
  apps/identity-provider/package.json
  apps/identity-provider/yarn.lock
  apps/infrastructure-console/package.json
  apps/infrastructure-console/yarn.lock
  frontends/admin-client/package.json
  frontends/admin-client/yarn.lock
  frontends/authorization-client/package.json
  frontends/authorization-client/yarn.lock
  frontends/identity-client/package.json
  frontends/identity-client/yarn.lock
  package.json
  yarn.lock
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

v6.5.8
  apps/authorization-server/package.json
  apps/communication-server/package.json
  apps/identity-provider/package.json
  apps/infrastructure-console/package.json
  frontends/admin-client/package.json
  frontends/authorization-client/package.json
  frontends/identity-client/package.json
  lerna.json
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

Publish Helm Chart 2.5.8
  kubernetes/helm-chart/Chart.yaml
  kubernetes/helm-chart/values.yaml
Due: none

update: root and packages
  apps/authorization-server/package.json
  apps/authorization-server/src/auth/schedulers/delete-unverified-emails/delete-unverified-emails.service.spec.ts
  apps/authorization-server/src/auth/schedulers/delete-unverified-emails/delete-unverified-emails.service.ts
  apps/authorization-server/src/user-management/commands/index.ts
  apps/authorization-server/src/user-management/commands/remove-unverified-user/remove-unverified-user.command.ts
  apps/authorization-server/src/user-management/commands/remove-unverified-user/remove-unverified-user.handler.ts
  apps/authorization-server/src/user-management/entities/user/user.service.ts
  apps/authorization-server/yarn.lock
  apps/communication-server/package.json
  apps/communication-server/yarn.lock
  apps/identity-provider/package.json
  apps/identity-provider/yarn.lock
  apps/infrastructure-console/package.json
  apps/infrastructure-console/yarn.lock
  frontends/admin-client/package.json
  frontends/admin-client/yarn.lock
  frontends/authorization-client/package.json
  frontends/authorization-client/src/app/login/login.component.html
  frontends/authorization-client/yarn.lock
  frontends/identity-client/package.json
  frontends/identity-client/yarn.lock
  package.json
  yarn.lock
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

v6.5.9
  apps/authorization-server/package.json
  apps/communication-server/package.json
  apps/identity-provider/package.json
  apps/infrastructure-console/package.json
  frontends/admin-client/package.json
  frontends/authorization-client/package.json
  frontends/identity-client/package.json
  lerna.json
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

Publish Helm Chart 2.5.9
  kubernetes/helm-chart/Chart.yaml
  kubernetes/helm-chart/values.yaml
Due: none

update: root and packages
  apps/authorization-server/.snyk
  apps/authorization-server/package.json
  apps/authorization-server/src/auth/aggregates/webauthn-aggregate/webauthn-aggregate.service.ts
  apps/authorization-server/src/common/events-microservice.client.ts
  apps/authorization-server/src/user-management/aggregates/email-request/email-request.service.ts
  apps/authorization-server/yarn.lock
  apps/communication-server/package.json
  apps/communication-server/src/common/events-microservice.client.ts
  apps/communication-server/yarn.lock
  apps/identity-provider/package.json
  apps/identity-provider/src/common/events-microservice.client.ts
  apps/identity-provider/yarn.lock
  apps/infrastructure-console/src/common/events-microservice.client.ts
  frontends/admin-client/package.json
  frontends/admin-client/yarn.lock
  frontends/authorization-client/package.json
  frontends/authorization-client/yarn.lock
  frontends/identity-client/package.json
  frontends/identity-client/yarn.lock
  package.json
  yarn.lock
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

v6.5.10
  apps/authorization-server/package.json
  apps/communication-server/package.json
  apps/identity-provider/package.json
  apps/infrastructure-console/package.json
  frontends/admin-client/package.json
  frontends/authorization-client/package.json
  frontends/identity-client/package.json
  lerna.json
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

Publish Helm Chart 2.5.10
  kubernetes/helm-chart/Chart.yaml
  kubernetes/helm-chart/values.yaml
Due: none

v6.5.11
  apps/authorization-server/package.json
  apps/communication-server/package.json
  apps/identity-provider/package.json
  apps/infrastructure-console/package.json
  frontends/admin-client/package.json
  frontends/authorization-client/package.json
  frontends/identity-client/package.json
  lerna.json
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

Publish Helm Chart 2.5.11
  kubernetes/helm-chart/Chart.yaml
  kubernetes/helm-chart/values.yaml
Due: none

feat(authorization-server): fetch user for trusted client
  apps/authorization-server/src/user-management/controllers/user/user.controller.ts
  apps/authorization-server/src/user-management/queries/fetch-user-for-trusted-client/fetch-user-for-trusted-client.handler.ts
  apps/authorization-server/src/user-management/queries/fetch-user-for-trusted-client/fetch-user-for-trusted-client.query.ts
  apps/authorization-server/src/user-management/queries/index.ts
Due: test_authorization_server

v6.6.0
  apps/authorization-server/package.json
  lerna.json
Due: test_authorization_server

Publish Helm Chart 2.6.0
  kubernetes/helm-chart/Chart.yaml
  kubernetes/helm-chart/values.yaml
Due: none

ci: remove emqx auth for testing
  .gitlab-ci.yml
Due: none

fix(authorization-server): fetch user for client using email or phone
  apps/authorization-server/src/user-management/controllers/user/user.controller.ts
  apps/authorization-server/src/user-management/queries/fetch-user-for-trusted-client/fetch-user-for-trusted-client.handler.ts
  apps/authorization-server/src/user-management/queries/fetch-user-for-trusted-client/fetch-user-for-trusted-client.query.ts
Due: test_authorization_server

v6.6.1
  apps/authorization-server/package.json
  lerna.json
Due: test_authorization_server

Publish Helm Chart 2.6.1
  kubernetes/helm-chart/Chart.yaml
  kubernetes/helm-chart/values.yaml
Due: none

update: root and packages
  apps/authorization-server/.eslintrc.js
  apps/authorization-server/package.json
  apps/authorization-server/yarn.lock
  apps/communication-server/.eslintrc.js
  apps/communication-server/package.json
  apps/communication-server/yarn.lock
  apps/identity-provider/.eslintrc.js
  apps/identity-provider/package.json
  apps/identity-provider/yarn.lock
  apps/infrastructure-console/.eslintrc.js
  apps/infrastructure-console/package.json
  apps/infrastructure-console/yarn.lock
  docker/docker-compose-events.yml
  frontends/admin-client/.eslintrc.js
  frontends/admin-client/.gitignore
  frontends/admin-client/package.json
  frontends/admin-client/yarn.lock
  frontends/authorization-client/.eslintrc.js
  frontends/authorization-client/.gitignore
  frontends/authorization-client/package.json
  frontends/authorization-client/src/app/login/login.component.html
  frontends/authorization-client/src/app/login/login.component.ts
  frontends/authorization-client/yarn.lock
  frontends/identity-client/.eslintrc.js
  frontends/identity-client/.gitignore
  frontends/identity-client/package.json
  frontends/identity-client/yarn.lock
  kubernetes/helm-chart/templates/auth-server/ingress.yaml
  kubernetes/helm-chart/templates/com-server/ingress.yaml
  kubernetes/helm-chart/templates/id-provider/ingress.yaml
  kubernetes/helm-chart/templates/infra-console/ingress.yaml
  package.json
  yarn.lock
Due: test_authorization_server, test_authorization_client, test_communication_server, test_identity_provider, test_identity_client, test_infrastructure_console, test_admin_client

Path conditions:
  test_authorization_server: any of: apps/authorization-server/**/*
  test_authorization_client: any of: frontends/authorization-client/**/*
  test_communication_server: any of: apps/communication-server/**/*
  test_identity_provider: any of: apps/identity-provider/**/*
  test_identity_client: any of: frontends/identity-client/**/*
  test_infrastructure_console: any of: apps/infrastructure-console/**/*
  test_admin_client: any of: frontends/admin-client/**/*
